/* section how */

#how > div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

#how > div > div{
    border: 1px solid black;
    border-radius: .5rem;
    width: 18rem;
    padding: 1rem;
    position: relative;
}

#how h3{
    text-align: left;
}

#how > p{
    text-align: center;
}

#how span{
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem;
    background-color: white;
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
}